
form {
    display: flex;
}

input[type='checkbox'] {
    margin: 0 10px;
}

.todo-list li {
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

.complete {
    text-decoration: line-through;
}